.portfolio__contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 10em;
    background-color: var(--header-gradient-bg-dark);
}

.portfolio__contato-titulo {
    font-size: 6em;
    line-height: 1.1;
    font-family: var(--section-title-font-family);
    font-weight: 700;
    color: var(--dark-bg-font-color);
    padding-bottom: 0.5em;
}

.portfolio__contato-infos p {
    font-size: 1.5em;
    text-align: justify;
    font-family: var(--standard-font-family);
    font-weight: 500;
    color: var(--dark-bg-font-color);
    overflow: hidden;
    text-align: center;
}

.portfolio__contato-infos p:hover,
.portfolio__contato-dev:hover {
    color: #9e9e9e;
    transition: color 0.3s ease-in-out;
}

.portfolio__contato a,
.portfolio__contato-dev a {
    font-weight: 300;
}

.portfolio__contato-dev {
    margin-top: 4em;
    font-size: 1em;
    text-align: justify;
    font-family: var(--standard-font-family);
    font-weight: 500;
    color: var(--dark-bg-font-color);
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .portfolio__contato {
        padding: 4em;
    }
    
    .portfolio__contato-titulo {
        font-size: 3em;
    }

    .portfolio__contato-infos p {
        font-size: 1em;
    }
}
