.portfolio__botaoIdioma {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.portfolio__botaoIdioma p {
    cursor: pointer;
    font-family: var(--standard-font-family);
    font-size: 1.2em;
    font-weight: 300;
    color: var(--dark-bg-font-color);
    padding: 0 0.5em;
}

.portfolio__botaoIdioma p:hover {
    color: #9e9e9e;
    transition: color 0.3s ease-in-out;
}
