<!doctype html>
<html
	lang="en" >
	<head>
		<title>
            Caio Raphael
		</title>
		<meta
			charset="utf-8" >
		<meta
			name="viewport" 
			content="width=device-width, initial-scale=1" >
		<meta
			name="description" 
			content="Senior Game Developer, Engine Developer, Low-Level Network, Low-Level Systems, Physicist" >
		<meta
			name="author" 
			content="Caio Raphael" >
		<meta
			name="theme-color" 
			content="#ffffff" 
			media="(prefers-color-scheme: light)" >
		<meta
			name="theme-color" 
			content="#101010" 
			media="(prefers-color-scheme: dark)" >
		<link
			rel="icon" 
			href="/assets/icon.ico" >
		<link
			rel="icon" 
			href="/assets/icon-16x16.png" 
			sizes="16x16" 
			type="image/png" >
		<link
			rel="icon" 
			href="/assets/icon-32x32.png" 
			sizes="32x32" 
			type="image/png" >
		<script>
window.MathJax = {
                tex: {
                    inlineMath: [['$', '$']],
                    displayMath: [['$$', '$$']]
                }
                };
		</script>
		<script
			src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" >
		</script>
		<script
			type="module" >

                    import hljs from 'https://unpkg.com/@highlightjs/cdn-assets@11.11.1/es/highlight.min.js';
                    import hljs_odin from 'https://unpkg.com/highlightjs-odinlang@1.4.0/dist/odin.es.min.js';
                    import hljs_glsl from 'https://unpkg.com/@highlightjs/cdn-assets@11.11.1/es/languages/glsl.min.js';
                    import hljs_swift  from 'https://unpkg.com/@highlightjs/cdn-assets@11.11.1/es/languages/swift.min.js';
                    hljs.registerLanguage('odin', hljs_odin);
                    hljs.registerLanguage('glsl', hljs_glsl);
                    hljs.registerLanguage('gdscript', hljs_swift);
                    hljs.highlightAll();
                
		</script>
		<link
			rel="stylesheet" 
			href="/static/studies.30129.css" >
	</head>
	<body>
		<aside
			id="left-sidebar-wrapper" >
			<div
				id="left-sidebar" >
				<header>
					<a
						href="/" 
						class="site-logo" >
                        Caio Raphael
					</a>
					<p
						class="breadcrums-division" >
                        /
					</p>
					<a
						href="/studies/_index.html" 
						class="breadcrumbs-studies" >
                        Studies
					</a>
				</header>
				<nav>
					<details
>
						<summary>
                            WebDev
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-rendering-architectures.html" >
                                    Rendering Architectures
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-asynchronous-behavior.html" >
                                    Asynchronous Behavior
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-ajax-request-asynchronous-javascript-and-xml.html" >
                                    AJAX Request (Asynchronous JavaScript and XML)
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-dom-document-object-model.html" >
                                    DOM (Document Object Model)
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-fingerprinting.html" >
                                    Fingerprinting
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-service-workers-sw.html" >
                                    Service Workers (SW)
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-progressive-web-app-pwa.html" >
                                    Progressive Web App (PWA)
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-seo-search-engine-optimization.html" >
                                    SEO (Search Engine Optimization)
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-hosting.html" >
                                    Hosting
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-template-in-html-vs-markup-as-code.html" >
                                    Template-in-HTML vs Markup-as-Code
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-integrations.html" >
                                    Integrations
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebDev/WebDev-code-highlighting.html" >
                                    Code Highlighting
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            HTML
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTML/HTML-concepts.html" >
                                    Concepts
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTML/HTML-elements-tags.html" >
                                    Elements / Tags
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTML/HTML-tricks.html" >
                                    Tricks
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTML/HTML-random-idea.html" >
                                    Random Idea
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            HTMX
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTMX-about.html" >
                                    About
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTMX-comparisons.html" >
                                    Comparisons
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/HTMX-attributes.html" >
                                    Attributes
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            WebAssembly - WASM
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/WebAssembly - WASM/WebAssembly - WASM-about.html" >
                                    About
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            CSS
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/CSS/CSS-box-model.html" >
                                    Box Model
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/CSS/CSS-selectors.html" >
                                    Selectors
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/CSS/CSS-styling-and-attributes.html" >
                                    Styling and Attributes
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/CSS/CSS-scrollbars.html" >
                                    Scrollbars
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/CSS/CSS-debugging.html" >
                                    Debugging
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/CSS/CSS-libraries-frameworks.html" >
                                    Libraries, Frameworks
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            JavaScript
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript/JavaScript-about.html" >
                                    About
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript/JavaScript-package-registry.html" >
                                    Package Registry
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript/JavaScript-syntax.html" >
                                    Syntax
								</a>
							</li>
						</ul>
					</details>
					<details
						open="">
						<summary>
                            JavaScript - Frameworks and Libraries
						</summary>
						<ul>
							<li>
								<a
									class="active" 
									href="/studies/WebDev/JavaScript - Frameworks and Libraries/JavaScript - Frameworks and Libraries-component-based-frameworks.html" >
                                    Component-based Frameworks
								</a>
								<ul>
									<li>
										<a
											href="#vanilla-js-not-a-framework-im-just-comparing" >
                                            Vanilla JS (Not a framework, I'm just comparing)
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#svelte" >
                                            Svelte
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#qwik" >
                                            Qwik
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#solid" >
                                            Solid
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#vue" >
                                            <s>Vue</s>
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#preact" >
                                            <s>Preact</s>
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#react" >
                                            <s>React</s>
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#angular" >
                                            <s>Angular</s>
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#backbone" >
                                            Backbone
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#ember" >
                                            Ember
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#lit" >
                                            <s>Lit</s>
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#stencil" >
                                            <s>Stencil</s>
										</a>
										<ul>
										</ul>
									</li>
									<li>
										<a
											href="#mithril" >
                                            <s>Mithril</s>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript - Frameworks and Libraries/JavaScript - Frameworks and Libraries-libraries.html" >
                                    Libraries
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript - Frameworks and Libraries/JavaScript - Frameworks and Libraries-web-frameworks.html" >
                                    Web-Frameworks
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript - Frameworks and Libraries/JavaScript - Frameworks and Libraries-databases.html" >
                                    Databases
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            JavaScript - Runtime Environments
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript - Runtime Environments-node-js.html" >
                                    Node.js
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript - Runtime Environments-deno.html" >
                                    Deno
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/JavaScript - Runtime Environments-bun.html" >
                                    Bun
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            TypeScript
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/TypeScript-about.html" >
                                    About
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/TypeScript-build-systems.html" >
                                    Build Systems
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            Hugo
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-setup.html" >
                                    Setup
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-config.html" >
                                    Config
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-content.html" >
                                    Content
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-quoteprogrammingquote.html" >
                                    &quot;Programming&quot;
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-layouts-templating.html" >
                                    Layouts / Templating
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-themes.html" >
                                    Themes
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Hugo/Hugo-publish.html" >
                                    Publish
								</a>
							</li>
						</ul>
					</details>
					<details
>
						<summary>
                            Static Site Generators
						</summary>
						<ul>
							<li>
								<a
									class="" 
									href="/studies/WebDev/Static Site Generators-options.html" >
                                    Options
								</a>
							</li>
						</ul>
					</details>
				</nav>
			</div>
		</aside>
		<main
			id="central-wrapper" >
			<main
				id="note-wrapper" >
				<header
					id="note-header" >
					<h1>
                        Component-based Frameworks
					</h1>
					<p>
						<time
							datetime="2024-12-22" >
                            🕒 Created: 2024-12-22
						</time>
						<time
							datetime="2026-01-23" >
                            | Updated: 2026-01-23
						</time>
					</p>
				</header>
				<article
					id="note-content" >
<ul>
	<li>
		<p>
            Almost all frontend frameworks are syntax/ergonomic sugar on top of native JS and the browser.
		</p>
	</li>
	<li>
		<p>
            None add fundamentally new runtime capabilities that the browser can’t already do.
		</p>
	</li>
	<li>
		<p>
            <img src="assets/Pasted%20image%2020251019152620.png" width="600" alt="" >
            .
		</p>
	</li>
	<li>
		<p>
            No JS framework suddenly gives threads, parallel execution, or new DOM APIs.
		</p>
	</li>
	<li>
		<p>
            They cannot extend what the browser can do.
		</p>
	</li>
	<li>
		<p>
			<strong>
                Why frameworks exist
			</strong>
            :
		</p>
		<ul>
			<li>
				<p>
                    They reduce repetitive wiring for large apps.
				</p>
			</li>
			<li>
				<p>
                    They integrate state, DOM updates, and async requests in a structured way.
				</p>
			</li>
			<li>
				<p>
                    They handle edge cases (race conditions, lifecycle, error states, component reuse) that become messy in raw JS.
				</p>
			</li>
			<li>
				<p>
                    Automate common patterns
				</p>
			</li>
			<li>
				<p>
                    Reduce bugs and boilerplate
				</p>
			</li>
			<li>
				<p>
                    Provide a declarative programming model
				</p>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="comparisons" >
    Comparisons
</h5>
<ul>
	<li>
		<p>
			<strong>
                Reactivity
			</strong>
            :
		</p>
		<ul>
			<li>
				<p>
                    React/Preact use component-level state and rerender subtree. Solid uses signals; updates are localized. Qwik uses signals/refs but focuses on serializing and lazy event handlers.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<strong>
                Rendering
			</strong>
            :
		</p>
		<ul>
			<li>
				<p>
                    React/Preact VDOM diff. Solid direct DOM ops (compiled). Qwik renders on server then resumes only what’s needed.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<strong>
                Hydration
			</strong>
            :
		</p>
		<ul>
			<li>
				<p>
                    React/Preact full or partial hydration. Solid partial hydration techniques. Qwik aims for no traditional hydration — it resumes.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<strong>
                Bundle/runtime
			</strong>
            :
		</p>
		<ul>
			<li>
				<p>
                    Preact &lt; React (smaller). Solid small runtime for reactivity. Qwik pushes logic to server/serialized payload; runtime focuses on resuming.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
			<strong>
                Use case
			</strong>
            :
		</p>
		<ul>
			<li>
				<p>
                    React/Preact good for heavy interactivity and library ecosystem. Solid for maximum update performance. Qwik for extreme lazy-load and fast TTFP.
				</p>
			</li>
		</ul>
	</li>
</ul>
<h3
	id="vanilla-js-not-a-framework-im-just-comparing" >
    Vanilla JS (Not a framework, I'm just comparing)
</h3>
<h5
	id="characteristics" >
    Characteristics
</h5>
<ul>
	<li>
		<p>
            AJAX:
		</p>
		<ul>
			<li>
				<p>
                    <code>fetch()</code>
                    &nbsp;or 
                    <code>XMLHttpRequest</code>
                    &nbsp;(older API).
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
            Problems appear as you scale:
		</p>
		<ul>
			<li>
				<p>
                    Multiple endpoints → repeated fetch calls.
				</p>
			</li>
			<li>
				<p>
                    Multiple components updating DOM → repeated 
                    <code>innerHTML</code>
                    &nbsp;updates.
				</p>
			</li>
			<li>
				<p>
                    Error handling → repeated try/catch blocks.
				</p>
			</li>
			<li>
				<p>
                    State management → you must track which component has which data.
				</p>
			</li>
			<li>
				<p>
                    UI updates tied to async → manually coordinate loading states, spinners, etc.
				</p>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                More complex async behavior
			</strong>
            :
		</p>
<pre><code class="language-js" data-lang="js">const widgets = [
&nbsp;&nbsp;{ id: "widget1", url: "/data1" },
&nbsp;&nbsp;{ id: "widget2", url: "/data2" },
&nbsp;&nbsp;{ id: "widget3", url: "/data3" },
];

const status = document.getElementById("status");

let completed = 0;

widgets.forEach(w =&gt; {
&nbsp;&nbsp;const el = document.getElementById(w.id);
&nbsp;&nbsp;el.innerHTML = "Loading...";

&nbsp;&nbsp;fetch(w.url)
&nbsp;&nbsp;&nbsp;&nbsp;.then(res =&gt; {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (!res.ok) throw new Error("Network error");
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return res.text();
&nbsp;&nbsp;&nbsp;&nbsp;})
&nbsp;&nbsp;&nbsp;&nbsp;.then(html =&gt; {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;el.innerHTML = html;
&nbsp;&nbsp;&nbsp;&nbsp;})
&nbsp;&nbsp;&nbsp;&nbsp;.catch(err =&gt; {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;el.innerHTML = "Error loading widget";
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.error(err);
&nbsp;&nbsp;&nbsp;&nbsp;})
&nbsp;&nbsp;&nbsp;&nbsp;.finally(() =&gt; {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;completed++;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (completed === widgets.length) {
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;status.innerHTML = "Dashboard loaded";
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;&nbsp;&nbsp;});
});
</code></pre>
	</li>
</ul>
<h3
	id="svelte" >
    Svelte
</h3>
<ul>
	<li>
		<ol>
			<li>
			</li>
		</ol>
	</li>
	<li>
		<p>
            No Virtual DOM.
		</p>
	</li>
	<li>
		<p>
            Works as a compiler, to turn the 
            <code>.svelte</code>
            &nbsp;code into plain JS.
		</p>
	</li>
	<li>
		<p>
            Full TypeScript support (
            <code>.svelte</code>
            &nbsp;files with 
            <code>&lt;script lang="ts"&gt;</code>
            )
		</p>
	</li>
	<li>
		<p>
            Compile-time type checking on props, stores, and events
		</p>
	</li>
	<li>
		<p>
            1 component per file.
		</p>
	</li>
	<li>
		<p>
            Every 
            <code>.svelte</code>
            &nbsp;file has 3 parts:
		</p>
		<ul>
			<li>
				<p>
                    script + markup + style.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
            Very fast runtime, small bundle
		</p>
	</li>
	<li>
		<p>
            AJAX:
		</p>
		<ul>
			<li>
				<p>
                    Fetch or 
                    <code>load</code>
                    &nbsp;functions use AJAX under the hood.
				</p>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                Button increases a counter
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-html" data-lang="html">&lt;script&gt;
&nbsp;&nbsp;let count = 0;
&nbsp;&nbsp;const increment = () =&gt; count++;
&lt;/script&gt;

&lt;p&gt;Count: {count}&lt;/p&gt;
&lt;button on:click={increment}&gt;Increment&lt;/button&gt;
</code></pre>
<ul>
	<li>
		<p>
			<strong>
                Ex2
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-html" data-lang="html">&lt;script&gt;
&nbsp;&nbsp;export let items = [];
&lt;/script&gt;

{#if items.length}
&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;{#each items as item}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;{item.title}&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;{/each}
&nbsp;&nbsp;&lt;/ul&gt;
{:else}
&nbsp;&nbsp;&lt;div&gt;No items&lt;/div&gt;
{/if}
</code></pre>
<h3
	id="qwik" >
    Qwik
</h3>
<ul>
	<li>
		<p>
            .
		</p>
	</li>
</ul>
<h3
	id="solid" >
    Solid
</h3>
<ul>
	<li>
		<p>
            No Virtual DOM.
		</p>
	</li>
	<li>
		<p>
            Similar to React.
		</p>
	</li>
	<li>
		<p>
            Uses JSX.
		</p>
	</li>
	<li>
		<p>
            Kinda like React, but with a Svelte-like compiler
		</p>
	</li>
	<li>
		<p>
            &quot;A more well thought-out and faster version of React&quot;.
		</p>
	</li>
</ul>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                Button increases a counter
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">import { createSignal } from 'https://cdn.skypack.dev/solid-js';
import { render } from 'https://cdn.skypack.dev/solid-js/web';

function Counter() {
&nbsp;&nbsp;const [count, setCount] = createSignal(0);
&nbsp;&nbsp;return (
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Count: {count()}&lt;/p&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;button onClick={() =&gt; setCount(count() + 1)}&gt;Increment&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;);
}

render(() =&gt; &lt;Counter &gt;, document.getElementById('app'));
</code></pre>
<ul>
	<li>
		<p>
			<strong>
                Ex2
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">import { For, Show } from "solid-js";

export default function List(props) {
&nbsp;&nbsp;return (
&nbsp;&nbsp;&nbsp;&nbsp;&lt;Show when={props.items.length} fallback={&lt;div&gt;No items&lt;/div&gt;}&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;For each={props.items}&gt;{item =&gt; &lt;li&gt;{item.title}&lt;/li&gt;}&lt;/For&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/Show&gt;
&nbsp;&nbsp;);
}
</code></pre>
<pre><code class="language-js" data-lang="js">import { For } from "solid-js";

export default function Users(props) {
&nbsp;&nbsp;return &lt;ul&gt;&lt;For each={props.users}&gt;{u =&gt; &lt;li&gt;{u.name}&lt;/li&gt;}&lt;/For&gt;&lt;/ul&gt;;
}
</code></pre>
<h3
	id="vue" >
    <s>Vue</s>
</h3>
<ul>
	<li>
		<ol>
			<li>
			</li>
		</ol>
	</li>
	<li>
		<p>
            React's components, Angular's templates.
		</p>
	</li>
	<li>
		<p>
            A 
            <code>.vue</code>
            &nbsp;file is:
		</p>
		<ul>
			<li>
				<p>
                    Template + Script + Style
				</p>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="characteristics" >
    Characteristics
</h5>
<ul>
	<li>
		<p>
            Has Virtual DOM.
		</p>
	</li>
	<li>
		<p>
            AJAX:
		</p>
		<ul>
			<li>
				<p>
                    Vue itself doesn’t do AJAX, but most Vue apps use it for components.
				</p>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                Button increases a counter
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-html" data-lang="html">&lt;div id="app"&gt;
&nbsp;&nbsp;&lt;p&gt;Count: {{ count }}&lt;/p&gt;
&nbsp;&nbsp;&lt;button @click="increment"&gt;Increment&lt;/button&gt;
&lt;/div&gt;

&lt;script type="module"&gt;
import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

const App = {
&nbsp;&nbsp;setup() {
&nbsp;&nbsp;&nbsp;&nbsp;const count = ref(0);
&nbsp;&nbsp;&nbsp;&nbsp;const increment = () =&gt; count.value++;
&nbsp;&nbsp;&nbsp;&nbsp;return { count, increment };
&nbsp;&nbsp;}
};

createApp(App).mount('#app');
&lt;/script&gt;
</code></pre>
<ul>
	<li>
		<p>
			<strong>
                Ex2
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-html" data-lang="html">&lt;template&gt;
&nbsp;&nbsp;&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul v-if="items.length"&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li v-for="item in items" :key="item.id"&gt;{{ item.title }}&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div v-else&gt;No items&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&lt;/template&gt;

&lt;script setup&gt;
defineProps({ items: Array });
&lt;/script&gt;
</code></pre>
<h3
	id="preact" >
    <s>Preact</s>
</h3>
<ul>
	<li>
		<p>
            React-compatible API, smaller runtime.
		</p>
	</li>
	<li>
		<p>
            Has Virtual DOM.
		</p>
	</li>
	<li>
		<p>
            Uses JSX.
		</p>
	</li>
</ul>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                Button increases a counter
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">import { h, render } from 'https://unpkg.com/preact@latest?module';
import { useState } from 'https://unpkg.com/preact@latest/hooks/dist/hooks.mjs?module';

function Counter() {
&nbsp;&nbsp;const [count, setCount] = useState(0);
&nbsp;&nbsp;return (
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Count: {count}&lt;/p&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;button onClick={() =&gt; setCount(count + 1)}&gt;Increment&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;);
}

render(&lt;Counter &gt;, document.getElementById('app'));
</code></pre>
<h3
	id="react" >
    <s>React</s>
</h3>
<ul>
	<li>
		<p>
            From Facebook, 2013.
		</p>
	</li>
	<li>
		<p>
            Uses JSX.
		</p>
	</li>
	<li>
		<p>
            Has Virtual DOM.
		</p>
	</li>
	<li>
		<p>
            Svelte or Solid sounds much better than this thing.
		</p>
	</li>
	<li>
		<p>
            AJAX:
		</p>
		<ul>
			<li>
				<p>
                    Via 
                    <code>fetch</code>
                    , Axios, or libraries like React Query; client-side rendering is driven by async data.
				</p>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="asynchronous-behavior" >
    Asynchronous Behavior
</h5>
<ul>
	<li>
		<p>
            React doesn’t fundamentally change how concurrency works—JS is still single-threaded—but it improves ergonomics and state management around asynchronous operations
		</p>
	</li>
	<li>
		<p>
            React doesn’t add new concurrency primitives—it doesn’t give JS threads, parallelism, or async I/O that didn’t exist.
		</p>
	</li>
	<li>
		<p>
            Everything React does is built on native JS: Promises, the event loop, 
            <code>fetch</code>
            , timers, etc.
		</p>
	</li>
	<li>
		<p>
            Automatic 
			<strong>
                DOM diffing
			</strong>
            &nbsp;→ no manual 
            <code>innerHTML</code>
            &nbsp;manipulation.
		</p>
		<ul>
			<li>
				<p>
                    Your component re-renders automatically when state changes.
				</p>
			</li>
			<li>
				<p>
					<strong>
                        In Vanilla JS
					</strong>
                    :
				</p>
<pre><code class="language-js" data-lang="js">fetch("/data")
&nbsp;&nbsp;.then(res =&gt; res.text())
&nbsp;&nbsp;.then(html =&gt; document.getElementById("widget").innerHTML = html);
</code></pre>
				<ul>
					<li>
						<p>
                            You must track which element corresponds to which data.
						</p>
					</li>
					<li>
						<p>
                            Any additional async operations updating the same element require careful coordination.
						</p>
					</li>
				</ul>
			</li>
			<li>
				<p>
					<strong>
                        In React
					</strong>
                    :
				</p>
<pre><code class="language-js" data-lang="js">const [data, setData] = useState(null);

useEffect(() =&gt; {
&nbsp;&nbsp;fetch("/data")
&nbsp;&nbsp;&nbsp;&nbsp;.then(res =&gt; res.text())
&nbsp;&nbsp;&nbsp;&nbsp;.then(setData);
}, []);

return &lt;div&gt;{data || "Loading..."}&lt;/div&gt;;
</code></pre>
				<ul>
					<li>
						<p>
                            React automatically re-renders the component when state changes.
						</p>
					</li>
					<li>
						<p>
                            No manual DOM manipulation.
						</p>
					</li>
					<li>
						<p>
                            Concurrency conflicts are minimized because state updates are batched and applied in order.
						</p>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                Button increases a counter
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">import { useState } from "react";
import { createRoot } from "react-dom/client";

function Counter() {
&nbsp;&nbsp;const [count, setCount] = useState(0);
&nbsp;&nbsp;return (
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Count: {count}&lt;/p&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;button onClick={() =&gt; setCount(count + 1)}&gt;Increment&lt;/button&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;);
}

const root = createRoot(document.getElementById("app"));
root.render(&lt;Counter &gt;);
</code></pre>
<ul>
	<li>
		<p>
			<strong>
                Simple async behavior
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">function Component() {
&nbsp;&nbsp;const [data, setData] = React.useState(null);

&nbsp;&nbsp;React.useEffect(() =&gt; {
&nbsp;&nbsp;&nbsp;&nbsp;fetch("/data")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.then(res =&gt; res.json())
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.then(setData);
&nbsp;&nbsp;}, []);

&nbsp;&nbsp;return &lt;div&gt;{data}&lt;/div&gt;;
}
</code></pre>
<ul>
	<li>
		<p>
			<strong>
                More complex async behavior
			</strong>
            :
		</p>
<pre><code class="language-js" data-lang="js">function Dashboard() {
&nbsp;&nbsp;const [widgets, setWidgets] = React.useState([]);
&nbsp;&nbsp;const [loaded, setLoaded] = React.useState(false);

&nbsp;&nbsp;React.useEffect(() =&gt; {
&nbsp;&nbsp;&nbsp;&nbsp;Promise.all([
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fetch("/data1").then(r =&gt; r.text()),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fetch("/data2").then(r =&gt; r.text()),
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fetch("/data3").then(r =&gt; r.text()),
&nbsp;&nbsp;&nbsp;&nbsp;])
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.then(results =&gt; setWidgets(results))
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.finally(() =&gt; setLoaded(true));
&nbsp;&nbsp;}, []);

&nbsp;&nbsp;return (
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{widgets.map((w, i) =&gt; (
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div key={i}&gt;{w || "Loading..."}&lt;/div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;))}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{loaded && &lt;div&gt;Dashboard loaded&lt;/div&gt;}
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;);
}
</code></pre>
	</li>
</ul>
<h3
	id="angular" >
    <s>Angular</s>
</h3>
<ul>
	<li>
		<p>
            Google, 2010.
		</p>
	</li>
	<li>
		<p>
            Angular 2 in 2016.
		</p>
	</li>
	<li>
		<p>
            Requires TS.
		</p>
	</li>
</ul>
<h5
	id="characteristics" >
    Characteristics
</h5>
<ul>
	<li>
		<p>
            Has Virtual DOM.
		</p>
	</li>
	<li>
		<p>
            Reactivity model: Change detection.
		</p>
	</li>
	<li>
		<p>
            AJAX:
		</p>
		<ul>
			<li>
				<p>
                    Has built-in 
                    <code>HttpClient</code>
                    &nbsp;for AJAX requests; components update via async data.
				</p>
			</li>
		</ul>
	</li>
	<li>
		<p>
            Template syntax, but bound tightly to TypeScript logic.
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">// user-list.component.ts
import { Component } from '@angular/core';

@Component({
&nbsp;&nbsp;selector: 'user-list',
&nbsp;&nbsp;template: `
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li *ngFor="let u of users"&gt;{{ u.name }}&lt;/li&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;
&nbsp;&nbsp;`
})
export class UserListComponent {
&nbsp;&nbsp;users = [{ id:1, name:'Alice' }, { id:2, name:'Bob' }];
}
</code></pre>
<h5
	id="examples" >
    Examples
</h5>
<ul>
	<li>
		<p>
			<strong>
                Button increases a counter
			</strong>
            :
		</p>
	</li>
</ul>
<pre><code class="language-js" data-lang="js">// counter.component.ts
import { Component } from '@angular/core';

@Component({
&nbsp;&nbsp;selector: 'app-counter',
&nbsp;&nbsp;template: `
&nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Count: {{ count }}&lt;/p&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;button (click)="increment()"&gt;Increment&lt;/button&gt;
&nbsp;&nbsp;`
})
export class CounterComponent {
&nbsp;&nbsp;count = 0;
&nbsp;&nbsp;increment() { this.count++; }
}

// app.module.ts
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { CounterComponent } from './counter.component';

@NgModule({
&nbsp;&nbsp;declarations: [CounterComponent],
&nbsp;&nbsp;imports: [BrowserModule],
&nbsp;&nbsp;bootstrap: [CounterComponent]
})
export class AppModule {}
</code></pre>
<h3
	id="backbone" >
    Backbone
</h3>
<ul>
	<li>
		<ol>
			<li>
			</li>
		</ol>
	</li>
</ul>
<h3
	id="ember" >
    Ember
</h3>
<ul>
	<li>
		<ol>
			<li>
			</li>
		</ol>
	</li>
	<li>
		<p>
            Convention over configuration.
		</p>
	</li>
</ul>
<h3
	id="lit" >
    <s>Lit</s>
</h3>
<ul>
	<li>
		<p>
            Google.
		</p>
	</li>
	<li>
		<p>
            Focused on Web Components.
		</p>
	</li>
</ul>
<h3
	id="stencil" >
    <s>Stencil</s>
</h3>
<ul>
	<li>
		<p>
            Focused on Web Components.
		</p>
	</li>
</ul>
<h3
	id="mithril" >
    <s>Mithril</s>
</h3>
<ul>
	<li>
		<p>
            Virtual DOM.
		</p>
	</li>
</ul>

				</article>
			</main>
			<footer
				id="central-footer" >
                🧑‍💻 built and copyrighted by
				<a
					href="https://github.com/caioraphael1" 
					target="_blank" >
                    Caio Raphael
				</a>
                📅 2025-2026 🚀
			</footer>
		</main>
		<script
			src="/static/studies.30129.js" >
		</script>
	</body>
</html>
