.portfolio__sobre {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--section-light-bg);
    padding: 4em 10em 6em 10em;
}

.portfolio__sobre-header {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.portfolio__sobre-header_titulo {
    font-size: 6em;
    text-align: center;
    font-family: var(--section-title-font-family);
    color: var(--light-bg-font-color);
}

.portfolio__sobre-header_texto {
    font-size: 1.5em;
    text-align: justify;
    font-family: var(--standard-font-family);
    font-weight: 300;
    color: var(--light-bg-font-color);
    overflow: hidden;
    margin-top: 1.5em;
}

/* .portfolio__sobre-cursos {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid var(--light-bg-font-color);
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
    background-color: rgb(233, 216, 172);
}

.portfolio__sobre-cursos h2 {
    font-size: 2em;
    text-align: left;
    font-family: var(--standard-font-family);
    font-weight: 500;
    color: var(--light-bg-font-color);
}

.portfolio__sobre-experiencias {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0;
    background-color: var(--light-bg-font-color);
}

.portfolio__sobre-experiencias h2 {
    font-size: 2em;
    text-align: left;
    font-family: var(--standard-font-family);
    font-weight: 500;
    color: var(--dark-bg-font-color);
    text-align: center;
} */

@media screen and (min-width: 2000px) {
    .portfolio__sobre {
        padding: 4em 30em 6em 30em;
    }
}

@media screen and (max-width: 775px) {
    .portfolio__sobre {
        padding: 4em;
    }
    
    .portfolio__sobre-header_titulo {
        font-size: 4em;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__sobre {
        padding: 2em;
    }
    
    .portfolio__sobre-header_titulo {
        font-size: 3em;
    }

    /* .portfolio__sobre-cursos h2,
    .portfolio__sobre-experiencias h2 {
        font-size: 1.5em;
    } */

    .portfolio__sobre-header_texto {
        font-size: 1em;
    }
}
