.portifolio__qualificacaoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 25em;;
    padding: 1.5em;
    background-color: var(--header-gradient-bg-dark);
    border: 2px solid var(--dark-bg-font-color);
    border-radius: 1em;
    transition: transform 0.3s ease;
}

.portifolio__qualificacaoCard:hover {
    transform: scale(1.05);
}

.portifolio__qualificacaoCard h2 {
    font-size: 2em;
    margin: 0.5em 0;
    font-family: var(--standard-font-family);
    font-weight: 500;
    color: var(--dark-bg-font-color);
    text-align: center;
}

.portifolio__qualificacaoCard p {
    font-size: 1.5em;
    font-family: var(--standard-font-family);
    font-weight: 300;
    color: var(--dark-bg-font-color);
}

.portifolio__qualificacaoCard-icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1350px) {
    .portifolio__qualificacaoCard {
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width: 550px) {
    .portifolio__qualificacaoCard {
        width: 15em;
        height: 15em;;
        padding: 1em;
    }
    
    .portifolio__qualificacaoCard h2 {
        font-size: 1.5em;
    }

    .portifolio__qualificacaoCard p {
        font-size: 1em;
    }
}
