.portfolio__outrosProjetos {
    display: flex;
    flex-direction: column;
    background-color: var(--section-light-bg);
}

.portfolio__outrosProjetos-container {
    background-color: var(--other-projects-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
    padding: 4em 16em;
}

@media screen and (max-width: 1850px) {
    .portfolio__outrosProjetos-container {
        padding: 4em 8em;
    }
}

@media screen and (max-width: 1475px) {
    .portfolio__outrosProjetos-container {
        padding: 4em;
    }
}
