.portfolio__projetos {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--section-light-bg);
    padding: 4em 10em;
}

.portfolio__projetos h1 {
    font-size: 6em;
    text-align: center;
    font-family: var(--section-title-font-family);
    color: var(--light-bg-font-color);
    padding-bottom: 0.5em;
}

.portfolio__projetos-cards {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 2000px) {
    .portfolio__projetos {
        padding: 4em 30em;
    }
}

@media screen and (max-width: 1250px) {
    .portfolio__projetos {
        padding: 4em 6em;
    }
}

@media screen and (max-width: 775px) {
    .portfolio__projetos {
        padding: 4em;
    }
    
    .portfolio__projetos h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__projetos {
        padding: 2em;
    }
    
    .portfolio__projetos h1 {
        font-size: 3em;
    }
}
