/* https://github.com/elad2412/the-new-css-reset v1.11.1 */
/* custom styles for: pre, code */

*:where(:not(html, iframe, canvas, img, svg, video, audio, pre, code):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    overflow: visible;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    margin: 0;
}

a, button {
    cursor: revert;
}

ol, ul, menu, summary {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

::marker {
    content: initial;
    font-weight: bold;
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

pre, code {
    margin: 0;
}

::-webkit-details-marker {
    display: none;
}
:root {
    /* Body */
    --body-font:                   ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Darks */
    --dark-1:                      rgb(11, 11, 15);
    --dark-a-1:                    #181820cc;
    --dark-a-2:                    rgba(57, 57, 76, 0.25);
    --dark-a-3:                    rgba(11, 11, 15, 0.60);
    --dark-a-4:                    rgba(19, 19, 26, 0.93);

    /* Whites */
    --white-1:                     #c8c8d5;
    --white-2:                     #a4a4b6;
    --white-a-1:                   rgba(171, 171, 191, 0.8); 
    --white-a-2:                   rgba(255, 255, 255, 0.65);

    /* Highlight */
    --highlight-bg:                #f6cf34fc;
    --highlight-bg-hover:          #f3db53;
    --highlight-bg-softer:         #e5c74ef5;
    /* 
    --highlight-bg:       #dab3f0;
    --highlight-bg-hover: #cda6ea; 
    /
    /* 
    --highlight-bg:       #c1b9e5;
    --highlight-bg-hover: #cda6ea; 
    */

    /* Scroll */
    --scroll-width:                 8px;
    --scroll-height:                8px;
    --scroll-bg:                    var(--dark-a-4);
    --scroll-bg-border-radius:      6px;
    --scroll-fg:                    var(--highlight-bg-softer);
    --scroll-fg-hover:              var(--highlight-bg-hover);
    --scroll-fg-border-radius:      6px;
    --scroll-corner:                var(--dark-a-1);

    /* Home */
    --home-title-1:                 var(--white-1);
    --home-title-2:                 #866ee7;
    --home-description:             var(--white-2);
    --home-button-text:             var(--white-1);

    --highlight-text:               #130606;
    --highlight-hover-text:         #0c0b0b;

    /* Logo */
    --logo-font:                    "Arial", serif;
    --logo-border:                  rgba(225, 225, 225, .1);

    /* Projects */
    --projects-details-close:       var(--white-2);
    --projects-details-open:        var(--white-1);
    
    /* Study */
    --study-cards-bg:               rgba(0, 0, 0, 0.20);
    --study-cards-padding:          24px;

    /* Study Sidebar */
    --study-sidebar-bg:             var(--dark-a-1);
    --study-sidebar-bg-hover:       var(--dark-a-2);
    --study-sidebar-text:           var(--white-2);
    --study-sidebar-text-hover:     var(--white-1);
    --study-sidebar-border:         var(--dark-1);
    --study-sidebar-border-details: var(--white-1);
    --study-sidebar-h2-hover:       var(--white-1);
    --study-sidebar-h3:             var(--white-a-1);
    --study-sidebar-h3-hover:       var(--white-2);

    /* Study Central */
    --central-bg:                   var(--dark-a-1);
    --study-overflow-border:        rgba(171, 171, 191, 0.18);

    /* Central Header Buttons */
    --header-button-bg:             var(--dark-a-4);
    --header-button-border:         var(--dark-1);
    --header-button-text:           var(--white-1);
    --header-button-hover-bg:       var(--dark-a-2);
    --header-button-hover-text:     var(--white-1);

    /* Central Footer */
    --footer-text:                  var(--white-1);

    /* Note */
    --note-headers:                 var(--white-1);
    --note-title:                   var(--white-1);
    --note-text:                    var(--white-1);

    /* _Note Subtitle */
    --note-subtitle:                rgba(171, 171, 191, 0.8);

    /* Checkbox */
    --checkbox-border:              #555;

    /* Table */
    --table-border:                 var(--white-1);
    --table-scrollbar:              #f1f1f1;

    /* Hyperlink */
    --hyperlink:                    #7ad0ec;
    --hyperlink-hover:              #6cbcd6;

    /* Line Emphasis */
    --line-emphasis:                rgba(0, 128, 0, 0.258);

    /* Strike-through */
    --strikethrough:                red;
    --table-strikethrough:          #8c8c8c;

    /* Code */
    --code-font:                    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* Code Inline */
    --code-inline-bg:               #22262e;
    --code-inline-text:             #bad3ac;

    /* Code Block */
    --code-bg:                      #22262e;
    --code-text:                    var(--white-1);
    --code-comment:                 #9893a5;
    --code-tag:                     #b4637a;
    --code-variable:                #d7827e;
    --code-builtin:                 #ea9d34;
    --code-selector:                #56949f;
    --code-title:                   #56949f;
    --code-keyword:                 #907aa9;
    --code-string:                  #286983;
    --code-function-names:          #d7827e;
    --code-punctuation:             #575279;

    /* Block Quote */
    --blockquote-backgound:         #954ce3;
    --blockquote-foreground:        rgba(0, 0, 0, .08);
    --blockquote-color:             #ffffff;
    --blockquote-anchor:            #d2aefc;
    --blockquote-anchor-text-shadow: .4px 0 .8px black;
}


/* SCROLL */
    html {
        scroll-behavior: smooth;
        scroll-padding:  2em;
        -webkit-overflow-scrolling: touch; 
    }

    ::-webkit-scrollbar
    {
        width:  var(--scroll-width);
        height: var(--scroll-height);
    }

    /* Track (Background) */
    ::-webkit-scrollbar-track
    {
        background:    var(--scroll-bg);
        border-radius: var(--scroll-bg-border-radius);
    }

    /* Thumb (Foreground) */
    ::-webkit-scrollbar-thumb
    {
        background:    var(--scroll-fg);
        border-radius: var(--scroll-fg-border-radius);
    }
    ::-webkit-scrollbar-thumb:hover
    {
        background: var(--scroll-fg-hover);
    }

    /* Corner */
    ::-webkit-scrollbar-corner
    {
        background: var(--scroll-corner);
    }

    /* Firefox support */
    /* @supports (-moz-appearance: none) { */
        * {
            scrollbar-width: thin;
            scrollbar-color: var(--scroll-fg) var(--scroll-bg);
        }
    /* } */
/* ROOT */
    body {
        display: flex;

        min-height: 100vh;
        margin: 0;

        font-family: var(--body-font);
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-image: url("/assets/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

/* CENTRAL */
    #central-wrapper {
        display: flex;
        flex-direction: column;
        flex: auto;

        margin: 0 auto;

        padding: 80px 15vw 24px;
        
        background: var(--central-bg);
    }

    /* Mobile */
    @media (max-width: 1080px) {
        #central-wrapper {
            padding: 80px 7vw 24px;
        }
    }
    @media (max-width: 600px) {
        #central-wrapper {
            padding: 80px 4vw 24px;
        }
    }



.site-logo {
    width: 480px;

    color: transparent;
    background: linear-gradient(45deg, #ea60da, #ed8f57, #fbd41d);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px var(--logo-border);

    text-transform: uppercase;
    font-family: var(--logo-font);
    font-size: 2.3em;
    letter-spacing: 3px;
    font-weight: 800;
    
    background-clip: text;
    -webkit-background-clip: text;

    background-position-x: -78px;
    background-attachment: local;
}

@media (max-width: 600px) {
    .site-logo {
        width: auto;
    }
}


/* ================================
   PROJECTS GRID
   ================================ */

.projects-grid {
    display: flex;
    flex-direction: column;
    
    gap: 2.8rem;
}


/* ================================
   PROJECT CARD
   ================================ */

    .project-card {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        /* min-height: 800px; */

        border-radius: 4px;
        background: var(--study-cards-bg);
        border: 1px solid var(--dark-1);
    }

    .project-name {
        text-align: initial;
        margin-bottom: 0.4rem;

        font-size: 2rem;
        font-weight: 600;
        color: var(--highlight-bg);

        /* opt1 */
        /* border-bottom: 1px solid #f6cf3482;
        padding-bottom: 0.25rem; */

        /* opt2 */
        /* text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-color: #f6cf34c4;
        text-decoration-thickness: 1.5px; */
    }

    .project-description {
        text-align: initial;
        min-height: 2.4em;

        font-size: 0.9rem;
        line-height: 1.4;
        color: var(--white-2);
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .medias {
        display: flex;
        flex-direction: column;
        padding: 18px 0;
    }

    .media {
        display: flex;
        justify-content: center;
    }

    .img-container {
        align-self: center; /* Vertical align */
        padding: 4px;
    }

    .img-container img {
        object-fit: contain;
        height: auto;
        width: 100%;
        display: block;
        border-radius: 3px;
    }

    .video-container {
        padding: 4px;

        aspect-ratio: 16/9;
        height: auto;
        width: 100%;
        align-self: center;  
    }

    .video-container iframe {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }

    @media (max-width: 1200px) {
        .media {
            flex-direction: column;
            padding: 0px !important;
        }
        .img-container {
            width: 100%;
        }

        .project-card {
            padding: 2.5rem 1.8rem 3rem;
        }
    }

    details {
        padding: 5px 22px 5px;
        margin: 16px 0 8px;

        border-radius: 4px;
        border: 1px solid var(--study-sidebar-border);

        background: rgba(0, 0, 0, 0.23);
    }
    details > summary {
        display: flex;
        padding: 16px 0;

        color: var(--projects-details-close);

        font-weight: bold;

        user-select: none;

        list-style: none;
        cursor: pointer;
        align-items: center;
    }
    details[open] > summary {
        color: var(--projects-details-open);
    }

    details > summary:hover {
        color: #eeeeee;
    }

    details > summary::-webkit-details-marker {
        display: none;
    }
    details > summary::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 12px solid var(--note-text);
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        margin-right: 0.5rem;
        transition: transform 0.15s ease;
    }
    details[open] > summary::before {
        transform: rotate(90deg);
    }

    details > :not(summary) {
        padding: 0px 15px;
    }
    details > :last-child {
        padding-bottom: 20px;
    }

    blockquote,
    dl,
    ol,
    p,
    table,
    ul {
        line-height: 1.8rem;
        letter-spacing: -.1px;
    }
    dl,
    ol,
    ul {
        margin-left: 20px
    }
    dl dl,
    dl ol,
    dl ul,
    ol dl,
    ol ol,
    ol ul,
    ul dl,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0
    }
    li {
        position: relative;
        margin: 5px 0;
    }
    li > ol {
        list-style: square;
    }
    ol {
        list-style: square;
    }
    
    li p {
        margin: 0;
        text-align: justify;
        font-size: large;
        color: var(--white-a-2);
    }

    @media (orientation: portrait) {    
        li p {
            /* text-align: left; */
            font-size: medium;
        }
    }

    li blockquote,
    li iframe,
    li table {
        margin: 1em 0
    }
    li::before {
        content: "•";

        position: absolute;
        left: -0.7em;
        top: -0.1em;
        
        font-size: x-large;
        font-weight: bold;
    }
    li li::before {
        content: "◦";  /* Unicode 25E6 */
        top: -0.025em;
        left: -0.6em;
    }

    strong, 
    b, 
    table th {
        font-weight: 600
    }
    em {
        font-style: italic
    }
    del, 
    s {
        text-decoration-line: line-through;
        text-decoration-color: var(--strikethrough);
        text-decoration-thickness: 2px;
    }
    
    .content a {
        color: var(--hyperlink);
        text-decoration: none
    }

    .content a:hover {
        color: var(--hyperlink-hover);
        text-decoration: underline
    }

    .content .internal-link {
        font-weight: 800;
    }



/* NOTE CONTENT */
    #note-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 30px;

        color: var(--note-text);
        
        overflow-x: hidden;
        overflow-y: visible;
    }


/* HEADERS */
    #note-content header {
        padding: 20px 0px 32px;
        display: flex;
        flex-direction: column;
    }
    #note-content header > p {
        color: var(--white-2);

        font-size: 1.0em;
        padding-top: 8px;
    }

    #note-content h1,
    #note-content h2,
    #note-content h3,
    #note-content h4,
    #note-content h5,
    #note-content h6 {
        line-height: 1em;
        color: var(--white-1);
    }

    #note-content h1 {
        font-size: 3.0em;
        font-weight: 400;
    }

    #note-content h2 {
        font-size: 1.65em;
        font-weight: bold;
        margin: 3.0em 0em 0.5em;
    }

    #note-content h3 {
        font-size: 1.4em;
        font-weight: bold;
        margin: 2.0em 0em 0.5em;
    }

    #note-content h4 {
        font-size: 1.20em;
        font-weight: bold;
        margin: 2.0em 0em 0.5em;
    }
    #note-content h5 {
        font-size: 1.05em;
        font-weight: bold;
        margin: 1.5em 0em 0.3em;
    }
    #note-content h6 {
        font-size: 1.0em;
        font-weight: bold;
        margin: 1.5em 0em 0.3em;
    }



/* CENTRAL FOOTER */
    #central-footer {
        display: flex;
        justify-content: center;

        margin-top: auto;
        padding: 25px 12px 0px 12px;

        gap: 8px;

        color: var(--footer-text);
    }

    @media (orientation: portrait) {    
        #central-footer {
            font-size: x-small;
        }
    }

    #central-footer > a {
        width: max-content;
        padding: 0 8px;

        background: var(--highlight-bg);
        color: var(--highlight-text);

        border-radius: 4px;
        cursor: pointer;
    }

