/* https://github.com/elad2412/the-new-css-reset v1.11.1 */
/* custom styles for: pre, code */

*:where(:not(html, iframe, canvas, img, svg, video, audio, pre, code):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

::marker {
    content: initial;
    font-weight: bold;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

pre, code {
  margin: 0;
}

::-webkit-details-marker {
  display: none;
}
:root {
    --padding: 12px;
    --padding_d2: 6px;
    --padding_x2: 24px;
    --border-radius: 4px;

    /* Primary */
    /* --soft-dark: #181820; */
    --soft-dark-transparent: #181820e5;
    /* --dark: rgb(19, 19, 26); */
    --dark-transparent: rgba(19, 19, 26, 0.93);
    --dark-hover: rgba(57, 57, 76, 0.25);       /* --vscode-list-inactiveSelectionBackground; */
    --darker: rgb(11, 11, 15);
    --darker-transparent: rgb(11, 11, 15, 0.93);
    --white: #c8c8d5;                           /* --vscode-list-activeSelectionForeground; --vscode-list-inactiveSelectionForeground */
    --white-small-fade: #a4a4b6;                /*--vscode-list-focusForeground */
    --white-fade: rgba(171, 171, 191, 0.8);     /* --vscode-breadcrumb-foreground */

    /* Body */
    --body-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Home Main */
    --home-title-1: var(--white);
    --home-title-2: #866ee7;
    --home-description: var(--white-small-fade);
    --home-button-text: var(--white);

    /* Highlight */
    --highlight-bg: #f5d41f;
    --highlight-text: #130606;
    --highlight-hover-bg: #f3db53;
    --highlight-hover-text: #0c0b0b;

    /* Site Logo */
    --logo-font: "Arial", serif;
    --logo-border: rgba(225, 225, 225, .1);

    /* Left Sidebar */
    --left-sidebar-bg: var(--dark-transparent);
    --left-sidebar-border: var(--darker);
    --left-sidebar-border-details: var(--white);
    --left-sidebar-text: var(--white-small-fade);
    --left-sidebar-text-title-close: var(--white-small-fade);
    --left-sidebar-text-title-open: var(--white);
    --left-sidebar-bg-hover: var(--dark-hover); 
    --left-sidebar-text-hover: var(--white);

    /* Right Sidebar */
    --right-sidebar-bg: var(--soft-dark-transparent);
    --right-sidebar-border: var(--darker);
    --right-sidebar-border-details: var(--white);
    --right-sidebar-text-top: var(--white);
    --right-sidebar-h2: var(--white-small-fade);
    --right-sidebar-h3: var(--white-fade);
    --right-sidebar-hover-bg: var(--dark-hover); 
    --right-sidebar-hover-h2: var(--white);
    --right-sidebar-hover-h3: var(--white-small-fade);

    /* Central */
    --central-bg: var(--soft-dark-transparent);

    /* Central Header Buttons */
    --header-button-bg: var(--dark-transparent);
    --header-button-border: var(--darker);
    --header-button-text: var(--white);
    --header-button-hover-bg: var(--dark-hover);
    --header-button-hover-text: var(--white);

    /* Central Footer */
    --footer-bg-hover: var(--dark-hover);
    --footer-text: var(--white);

    /* Previous Next */
    --prev-next-bg: var(--dark-transparent);
    --prev-next-border: var(--darker);
    --prev-next-text: var(--white);
    --prev-next-hover-bg: var(--dark-hover);

    /* _Note */
    --note-headers: var(--white);
    --note-title: var(--white);
    --note-text: var(--white);

    /* _Note Subtitle */
    --note-subtitle: rgba(171, 171, 191, 0.8);

    /* Checkbox */
    --checkbox-border: #555;

    /* Table */
    --table-border: var(--white);
    --table-scrollbar: #f1f1f1;

    /* Hyperlink */
    --hyperlink: #7ad0ec;
    --hyperlink-hover: #6cbcd6;

    /* Line Emphasis */
    --line-emphasis: rgba(0, 128, 0, 0.258);

    /* Strike-through */
    --strikethrough: red;
    --table-strikethrough: #8c8c8c;


    /* Code */
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* Code Inline */
    --code-inline-bg: #22262e;
    --code-inline-text: #bad3ac;

    /* Code Block */
    --code-bg: #22262e;
    --code-text: var(--white);
    --code-comment: #9893a5;
    --code-tag: #b4637a;
    --code-variable: #d7827e;
    --code-builtin: #ea9d34;
    --code-selector: #56949f;
    --code-title: #56949f;
    --code-keyword: #907aa9;
    --code-string: #286983;
    --code-function-names: #d7827e;
    --code-punctuation: #575279;

    /* Block Quote */
    --blockquote-info-backgound: #954ce3;
    --blockquote-info-foreground: rgba(0, 0, 0, .08);
    --blockquote-info-color: #ffffff;
    --blockquote-info-anchor: #d2aefc;
    --blockquote-info-anchor-text-shadow: .4px 0 .8px black;
}
/* ROOT */
    html {
        scroll-behavior: smooth;
        scroll-padding: 2em;
    }

    /* Chrome, Safari, Edge: Scrollbar */
    html::-webkit-scrollbar {
        height: 12px;
    }
    html::-webkit-scrollbar-track {
        background: var(--table-scrollbar);
        border-radius: 6px;
    }
    html::-webkit-scrollbar-thumb {
        background: var(--highlight-bg);
        border-radius: 6px;
    }
    html::-webkit-scrollbar-thumb:hover {
        background: var(--checkbox-border);
    }

    body {
        display: flex;

        font-family: var(--body-font);

        background-image: url("/assets/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }


.site-logo {
    color: transparent;
    background: linear-gradient(45deg, #866ee7, #ea60da, #ed8f57, #fbd41d, #2cca91);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px var(--logo-border);

    text-transform: uppercase;
    font-family: var(--logo-font);
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: 800;
    
    background-clip: text;
    -webkit-background-clip: text;
}


/* LEFT SIDEBAR */
    #left-sidebar {
        background: var(--left-sidebar-bg);
        border-right: 1px solid var(--left-sidebar-border);

        /* Sticky */
        position: sticky;
        top: 0;
        height: 100svh;

        min-width: 15%;

        overflow: auto;
    }

    #left-sidebar > a {
        display: flex;
        padding: var(--padding_x2) var(--padding);
    }

    #left-sidebar nav {
        padding: 0 var(--padding);
        overflow: auto;
    }

    #left-sidebar > nav > details {
        padding-bottom: 0;
    }

    #left-sidebar > nav > details[open] {
        padding-bottom: calc(var(--padding) * 1.5);
    }

    #left-sidebar > nav > details > summary {
        color: var(--left-sidebar-text-title-close);

        display: flex;

        padding: var(--padding) 0;
        font-weight: bold;
        cursor: cell;
        user-select: none;
    }

    #left-sidebar > nav > details > summary:hover {
        background: var(--left-sidebar-bg-hover);
        color: var(--left-sidebar-text-hover);
    }

    #left-sidebar > nav > details[open] > summary {
        color: var(--left-sidebar-text-title-open);
    }

    #left-sidebar > nav > details > ul > li {
        border-left: 1px solid var(--left-sidebar-border-details);

        margin: 0 var(--padding_d2);
    }

    #left-sidebar > nav > details > ul > li > a {
        color: var(--left-sidebar-text);

        display: flex;
        cursor: pointer;
        padding: var(--padding_d2);
    }

    #left-sidebar nav > details > ul > li > a:hover:not(.active) {
        background: var(--left-sidebar-bg-hover);
        color: var(--left-sidebar-text-hover);
        
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    #left-sidebar > nav > details > ul > li > a::before {
        background: var(--left-sidebar-bg);
        border: 1px solid var(--left-sidebar-border-details);

        content: '';
        display: inline-block;
        width: var(--padding_d2);
        height: var(--padding_d2);
        
        position: relative;
        left: calc((var(--padding) * -.78));
        top: 3px;
        transform: rotate(45deg);
    }

    #left-sidebar > nav > details > ul > li > a.active {
        background: var(--highlight-bg);
        color: var(--highlight-text);

        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    #left-sidebar nav > details > ul > li > a.active::before {
        background: var(--highlight-bg);
        border: var(--highlight-bg);

        left: calc((var(--padding) * -.76));
    }


/* RIGHT SIDEBAR */
    #right-sidebar {
        background: var(--right-sidebar-bg);

        /* Sticky */
        position: sticky;
        top: 0;
        height: 100svh;

        min-width: 12%;

        overflow-x: hidden;
        overflow-y: auto;
    }

    :root {
        --padding: 16px;
        --padding_d2: 8px;
        --padding_x2: 32px;
    }

    #right-sidebar > nav {
        border-left: 1px solid var(--right-sidebar-border);
        /* margin: 0 var(--padding); */
        height: 100%;
    }

    /* On This Page title */
    #right-sidebar > nav > strong {
        color: var(--right-sidebar-text-top);

        display: flex;
        padding: 30px 18px;
        font-weight: bold;
        font-size: large;
    }

    /* Container holding all table of contents */
    #right-sidebar > nav > ul {
        border-left: 1px solid var(--right-sidebar-border-details);

        margin: 0 24px;
        /* height: 100%; */
    }

    /* H2 Headers */
    #right-sidebar > nav > ul > li > a {
        color: var(--right-sidebar-h2);
    }

    #table-of-contents > nav > ul > li > a:hover:not(.active) {
        background: var(--right-sidebar-hover-bg);
        color: var(--right-sidebar-hover-h2);

        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    /* H3 Headers */
    #table-of-contents a {
        color: var(--right-sidebar-h3);

        display: inline-block;
        cursor: pointer;
        padding: var(--padding_d2);
    }

    #table-of-contents a:hover:not(.active) {
        background: var(--right-sidebar-hover-bg);
        color: var(--right-sidebar-hover-h3);

        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    #table-of-contents ul a::before {
        background: var(--right-sidebar-bg);
        border: 1px solid var(--right-sidebar-border-details);
        content: '';
        display: inline-block;
        position: relative;
        left: -14px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
    }
    /* Circle with svg */
    /* #table-of-contents ul a::before{
        content: '';
        display:inline-block;
        width:12px;
        height:12px;
        background: var(--right-sidebar-bg);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'><circle cx='6' cy='6' r='5.5' fill='none' stroke='%23ffffff' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        background-size: 12px 12px;
        background-repeat: no-repeat;
        transform: translate(-14.5px, 0px);
    } */

    #table-of-contents a.active {
        background: var(--highlight-bg);

        color: var(--highlight-text);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    #table-of-contents ul a.active::before {
        background: var(--right-sidebar-bg);
    }

    #table-of-contents ul ul {
        border-left: 1px solid var(--right-sidebar-border-details);

        margin-left: calc(var(--padding) * 1.75);
    }

    /* Strike-through */
    #table-of-contents del, #table-of-contents s {
        /* font-weight: lighter; */
        /* color: red; */
        
        text-decoration-line: line-through;
        text-decoration-color: var(--table-strikethrough);
        text-decoration-thickness: 2px;
        /* text-decoration-style: dotted; */
    }


/* CENTRAL */
    #central-wrapper {
        background: var(--central-bg);
        
        display: flex;
        flex-direction: column;
        flex: auto;

        width: 73%;
    }

    #central-wrapper > .icon-home {
        display: none;

        position: sticky;

        top: 20px;
        left: 30px;
        width: 50px;
        color: whitesmoke;
        opacity: 0.6;
    }

    main {
        display: flex;
        flex-direction: row;

        width: 100%;
        min-height: 94%;

        padding: 0 var(--padding_x2);

        flex: 1 1 auto;
        align-self: center;
    }

    @media (min-width: 2600px) {
        main {
            width: 1800px;
        }
    }

    main > article {
        display: flex;
        flex: 1;
        flex-direction: column;

        padding-top: var(--padding_x2);
        
        overflow: auto;        
    }

    main > article > nav > button:last-child {
        display: none;
    }


    /* CONTENT > NOTE > TITLE */

    main > article > header {
        padding: var(--padding_x2) var(--padding_x2) var(--padding);
    }


/* CENTRAL HEADER */
    #central-header {
        display: flex;

        position: sticky;
        top: 0;
        height: 5px;
    }


/* DROPDOWN MENU */
    /* 
    Stylization for this is super limited. Some of the styles here don't work at all.
    I'll probably use tabs anyway.
    */
    /* #dropdown-menu {
        display: flex;
        justify-content: end;
        position: absolute;
        top: 5px;
        right: 160px;
        font-size: 1.175em;
    }

    #dropdown-menu select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        color: var(--header-button-text);
        background: var(--header-button-bg);
        border: 1px solid var(--header-button-border);

        display: flex;

        width: 110px;
        height: 45px;
        padding: 8.5px 12px;

        border-radius: var(--border-radius);
        gap: var(--padding_d2);
        cursor: pointer;
    }

    #dropdown-menu select:hover, #dropdown-menu select:focus {
        background: var(--header-button-hover-bg);
        color: var(--header-button-hover-text);
    }

    #dropdown-menu select::picker-icon {
        content:"◂▸";
        rotate: 90deg;
        font-size: .8rem;
    }

    #dropdown-menu select:open::picker-icon {
        content:"▸◂";
        transition: 0.4s;
    }

    ::picker(#dropdown-menu select) {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        border: none;

        opacity: 0;
        transition: all 0.2s allow-discrete;
    }

    ::picker(#dropdown-menu select):popover-open {
        opacity: 1;
    }

    @starting-style {
        ::picker(#dropdown-menu select):popover-open {
            opacity: 0;
        }
    }

    ::picker(#dropdown-menu select) {
        top: calc(anchor(bottom) + 1px);
        left: calc(-1*var(--padding));
    }

    option {
        display: flex;
        justify-content: flex-start;
        padding: var(--padding_d2);

        color: var(--header-button-text);
        background: var(--header-button-bg);
        border: 1px solid var(--header-button-border);

        border-radius: var(--border-radius);
        gap: var(--padding_d2);

        transition: 0.6s;
    }

    option:first-of-type {
        border-radius: var(--border-radius) var(--border-radius)  0 0;
    }

    option:last-of-type {
        border-radius: 0 0 var(--border-radius) var(--border-radius) ;
    }

    option:not(option:last-of-type) {
        border-bottom: none;
    }

    option:nth-of-type(even) {
        background: var(--header-button-bg);
    }

    option:hover, option:focus {
        color: var(--header-button-text);

        font-weight: bold;
    }

    option .icon {
        text-box: trim-both cap alphabetic;
    }


    option:checked {
        background: var(--header-button-bg);
    }

    option::checkmark {
        order: 1;
        margin-left: auto;
        content: "✅ ";
    } */


/* BUTTON CHANGE THEME */
    /* #button-color-theme {
        display: flex;

        position: absolute;
        top: 5px;
        right: 30px;

        font-size: 1.175em;
        font-weight: 800;

        width: 110px;
        height: 45px;
        padding: 8.5px 12px;
        
        justify-content: center;
        
        color: var(--header-button-text);
        background: var(--header-button-bg);
        border: 1px solid var(--header-button-border);

        border-radius: var(--border-radius);
        gap: var(--padding_d2);
        cursor: pointer;
        user-select: none;
    }

    #button-color-theme:hover, #button-color-theme:focus {
        background: var(--header-button-hover-bg);
        color: var(--header-button-hover-text);
    } */


/* PREVIOUS / NEXT */
    #previous-next {
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: 35px 24px 15px 24px;
        row-gap: var(--padding);
    }

    #previous-next > a {
        background: var(--prev-next-bg);
        color: var(--prev-next-text);
        border: 1px solid var(--prev-next-border);
        
        display: flex;
        padding: var(--padding);
        gap: calc(var(--padding) / 4);
        border-radius: var(--border-radius);
        cursor: pointer;
        width: 35%;
    }

    #previous-next > a:first-child {
        justify-self: start;
    }

    #previous-next > a:last-child {
        justify-self: end;
        display: flex;
        justify-content: end;
    }

    #previous-next > a:hover {
        background: var(--prev-next-hover-bg);
    }


/* CENTRAL FOOTER */
    #central-footer {
        color: var(--footer-text);

        display: flex;
        justify-content: center;

        padding: 25px 12px 25px 12px;

        gap: var(--padding_d2);
    }

    #central-footer > a {
        background: var(--highlight-bg);
        color: var(--highlight-text);

        border-radius: var(--border-radius);
        cursor: pointer;
        padding: 0 var(--padding_d2);
    }


/* Mobile */
@media (max-width: 1600px), (orientation: portrait) {
    main {
        padding-top: 2svh;
    }
    
    #left-sidebar {
        display: none;
    }

    #central-wrapper > .icon-home {
        display: flex;
    }

    #right-sidebar {
        display: none;
    }
}

/* NOTE TITLE */

main > article > header > h1 {
    color: var(--note-title);
    font-size: 3em;
}


/* NOTE SUBTITLE */

main > article > header > p {
	color: var(--note-subtitle);

	font-size: 0.9em;
	padding-top: 8px;
}


/* NOTE CONTENT */

#note-content {
    color: var(--note-text);

    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--padding) var(--padding_x2);
    overflow-x: hidden;
    overflow-y: visible;
}


/* HEADERS */

#note-content h1,
#note-content h2,
#note-content h3,
#note-content h4,
#note-content h5,
#note-content h6 {
    line-height: 1em;
}

#note-content h1 {
    font-size: 3.1em;
    font-weight: 400;
}

#note-content h2 {
    font-size: 1.65em;
    font-weight: bold;
    color: #3d7fe0;
    margin: 3.0em 0em 0.5em;
}

#note-content h3 {
    font-size: 1.4em;
    font-weight: bold;
    color: #eecf1d;
    margin: 2.0em 0em 0.5em;
}

#note-content h4 {
    font-size: 1.15em;
    font-weight: bold;
    color: #ff8513;
    margin: 2.0em 0em 0.5em;
}
#note-content h5 {
    font-size: 1.05em;
    font-weight: bold;
    color: #f04545;
    margin: 1.5em 0em 0.3em;
}
#note-content h6 {
    font-size: 1.0em;
    font-weight: bold;
    color: #ff82b2;
    margin: 1.5em 0em 0.3em;
}

/* 
Only the first h2 OR the first h3 in the div will have; it's the first between both.
Only whichever comes first among all children of the div—and only if it is an <h2> or <h3>—will get the style. Later <h2> or <h3> elements are ignored.
*/
#note-content h2:first-child, #note-content h3:first-child {
    margin-top: .6em
}


#note-content .highlight,
#note-content blockquote,
#note-content dl,
#note-content ol,
#note-content p,
#note-content table,
#note-content ul {
    line-height: 1.8rem;
    letter-spacing: -.1px;
}


/* HYPERLINK */

#note-content a {
    color: var(--hyperlink);
    text-decoration: none
}

#note-content a:hover {
    color: var(--hyperlink-hover);
    text-decoration: underline
}

#note-content .internal-link {
    font-weight: 800;
}


/* STRONG */

#note-content strong, #note-content b, #note-content table th {
  font-weight: 600
}


/* EMPHASIS */

#note-content em {
    font-style: italic
}

#note-content .line-emphasis {
   font-style: normal;
   background-color: var(--line-emphasis);
   border-radius: 4px;
   margin-left: -4px;
   padding-left: 4px;
}


/* STRIKE-THROUGH */

#note-content del, #note-content s {
    /* font-weight: lighter; */
    /* color: red; */

    text-decoration-line: line-through;
    text-decoration-color: var(--strikethrough);
    text-decoration-thickness: 2px;
    /* text-decoration-style: dotted; */
}


/* LISTS */

#note-content dl,
#note-content ol,
#note-content ul {
  margin-left: 20px
}

#note-content dl dl,
#note-content dl ol,
#note-content dl ul,
#note-content ol dl,
#note-content ol ol,
#note-content ol ul,
#note-content ul dl,
#note-content ul ol,
#note-content ul ul {
  margin-top: 0;
  margin-bottom: 0
}


/* Numbered List */
/* 
Even if I use this 3 at the same time, the counter doesn't reset.
<div class="ordered-list-wrapper"> 
    <ol start="1"> 
        <li value="1">
Apparently I'll have to create a counter with counter-reset and counter-increment, 
and use its value to change the content of the marker, something like that.
For now, I'll use a different symbol and remove these previous attempts.
*/

#note-content li {
    position: relative;
}

#note-content li > ol {
    list-style: square;
}

#note-content ol {
    list-style: square;
}

#note-content li p {
    margin: 0
}

#note-content li .highlight,
#note-content li blockquote,
/* #note-content li iframe, */
#note-content li table {
  margin: 1em 0
}


#note-content li::before {
	content: "•";

	position: absolute;
	left: -0.7em;
	top: -0.1em;
	
    font-size: x-large;
	font-weight: bold;
}

#note-content li li::before {
	content: "◦";  /* Unicode 25E6 */
	top: -0.025em;
	left: -0.6em;
}


/* INPUT (Checkbox) */

input {
	width: 16px;
	height: 16px;
	border: 2px solid var(--checkbox-border);
	border-radius: 3px;
	position: relative;
}

input[type="checkbox"] {
  appearance: checkbox;
  -webkit-appearance: checkbox; /* Safari */
}


/* DL */

#note-content dl {
    list-style: square
}


#note-content hr:before {
    color: var(--white-fade);

    display: block;
    text-align: center;
    content: "∙ ∙ ∙";
    letter-spacing: .6em;
    top: calc(var(--padding)/3.7);
    margin: 2.6em 0 1em;
}


/* P TABLE */

#note-content .table {
    white-space: nowrap;
    font-family: var(--code-font);
    max-width: 100%; 
    overflow-x: auto;

    border: 1px solid #ccc;
    padding: 0px 2px;

    /* Firefox: Scrollbar */
    scrollbar-width: thin;                
    scrollbar-color: var(--highlight-bg) var(--table-scrollbar);

    cursor: grab; /* hint that it can be dragged */

    user-select: none;
}


#note-content .table:active {
    cursor: grabbing;
}

/* Chrome, Safari, Edge: Scrollbar */
#note-content .table::-webkit-scrollbar {
  height: 12px;
}
#note-content .table::-webkit-scrollbar-track {
  background: var(--table-scrollbar);
  border-radius: 6px;
}
#note-content .table::-webkit-scrollbar-thumb {
  background: var(--highlight-bg);
  border-radius: 6px;
}
#note-content .table::-webkit-scrollbar-thumb:hover {
  background: var(--checkbox-border);
}


/* So the table is correctly aligned even if has code */
#note-content .table code {
    font-size: 1.0em;
}



/* TABLE */

#note-content table {
    box-shadow: 0 0 0 1px var(--table-border);

    max-width: 100%;
    border-radius: var(--border-radius);
}

#note-content table thead th:first-child{
    border-top-left-radius: var(--border-radius);
}
#note-content table thead th:last-child{
    border-top-right-radius: var(--border-radius);
}

#note-content table tbody tr:last-child{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#note-content table tbody tr:last-child td:first-child{
    border-bottom-left-radius: var(--border-radius);
}
#note-content table tbody tr:last-child td:last-child{
    border-bottom-right-radius: var(--border-radius);
}

#note-content table td,
#note-content table th {
  padding: 5px 15px
}

#note-content table tr:nth-child(2n) {
    background: var(--background)
}

#note-content table thead tr {
    background: var(--background-embed)
}


/* BLOCK QUOTE */

#note-content blockquote p {
  margin: 1em 0
}

#note-content blockquote dl,
#note-content blockquote ol,
#note-content blockquote ul {
  margin: 0 1em 1em 1em
}

#note-content blockquote {
    padding: 8px 12px;
    position: relative;
    background: var(--code-bg);
    border-left-width: 5px;
    border-radius: 6px;
}

#note-content blockquote footer {
  margin: 1em 0;
  font-style: italic
}

#note-content blockquote footer cite:before {
  content: "—";
  padding: 0 .3em
}

#note-content blockquote footer cite a {
    color: var(--table-border);
}

#note-content blockquote code {
    background: var(--code-bg);
}

#note-content blockquote.info code {
    background: var(--blockquote-info-foreground);
}

#note-content blockquote.info {
    border: none;
    background: var(--blockquote-info-backgound);
    color: var(--blockquote-info-color);
}

#note-content blockquote.info > p {
    display: flex;
    gap: var(--padding_d2);
}

#note-content blockquote.info > p:first-child > strong:first-child {
    font-size: 2.5em;
}

#note-content blockquote.info li {
    margin: 0 var(--padding_d2);
}

#note-content blockquote.info a {
    color: var(--blockquote-info-anchor);
    text-shadow: var(--blockquote-info-anchor-text-shadow);
}


/* IMAGE, VIDEO */

#note-content img,
#note-content video {
    max-width: 100%;
    border-radius: 4px
}


/* EXCALIDRAW IFRAME */

.excalidraw {
    /* flex: 1;  */
    width: 100%;
    height: 600px;
    border: none;
    display: block;
}
/*!
    ORIGINAL THEME: Rose Pine
    The idea is:
        I should replace this colors by variables declared inside the theme.css file.
        When changing the color preference to light <-> dark, all is handled through the theme.css
*/

/* CODE BLOCK */

pre {
    font-family: var(--code-font);
    font-size: .9em;
    line-height: 1.8;
    letter-spacing: -.1px;

    border-radius: 8px;

    margin-top: 1em;
    margin-bottom: 1em;
}

pre code {
    background: var(--code-bg);
    color: var(--code-text);

    display: block;
    overflow-x: auto;
    white-space: pre;

    border-radius: 8px;
    
    padding: 1em;
}


/* INLINE CODE */

code {
    background: var(--code-inline-bg);
    color: var(--code-inline-text);

    font-family: var(--code-font);
    font-size: .9em;

    padding: calc(var(--padding)/3.7);

    border-radius: var(--border-radius);
}


/*  Comment */
.hljs-meta,
.hljs-comment {
    color: var(--code-comment);
}

/* This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-deletion {
    color: var(--code-tag);
}

/* Number and Boolean constants, Language support constants */
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
    color: var(--code-variable);
}

/* Function parameters, Regex character sets, Terminal Yellow */
.hljs-built_in,
.hljs-attribute {
    color: var(--code-builtin);
}

/* Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {
    color: var(--code-title);
}

/* Object literal keys, Markdown links, Terminal Green */
.hljs-selector-tag {
    color: var(--code-selector);
}

/* Strings, CSS class names */
.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: var(--code-string);
}

/* Function names, CSS property names, Terminal Blue */
.hljs-code,
.hljs-formula,
.hljs-section {
    color: var(--code-function-names);
}

/* Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
.hljs-name,
.hljs-keyword,
.hljs-operator,
.hljs-char.escape_,
.hljs-attr {
    color: var(--code-keyword);
}
.hljs-punctuation {
    color: var(--code-punctuation)
}

.hljs-emphasis {
    font-style: italic
}
.hljs-strong {
    font-weight: bold
}
