/* https://github.com/elad2412/the-new-css-reset v1.11.1 */
/* custom styles for: pre, code */

*:where(:not(html, iframe, canvas, img, svg, video, audio, pre, code):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    overflow: visible;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    margin: 0;
}

a, button {
    cursor: revert;
}

ol, ul, menu, summary {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

::marker {
    content: initial;
    font-weight: bold;
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

pre, code {
    margin: 0;
}

::-webkit-details-marker {
    display: none;
}
:root {
    /* Body */
    --body-font:                   ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* Darks */
    --dark-1:                      rgb(11, 11, 15);
    --dark-a-1:                    #181820cc;
    --dark-a-2:                    rgba(57, 57, 76, 0.25);
    --dark-a-3:                    rgba(11, 11, 15, 0.60);
    --dark-a-4:                    rgba(19, 19, 26, 0.93);

    /* Whites */
    --white-1:                     #c8c8d5;
    --white-2:                     #a4a4b6;
    --white-a-1:                   rgba(171, 171, 191, 0.8); 
    --white-a-2:                   rgba(255, 255, 255, 0.65);

    /* Highlight */
    --highlight-bg:                #f6cf34fc;
    --highlight-bg-hover:          #f3db53;
    --highlight-bg-softer:         #e5c74ef5;
    /* 
    --highlight-bg:       #dab3f0;
    --highlight-bg-hover: #cda6ea; 
    /
    /* 
    --highlight-bg:       #c1b9e5;
    --highlight-bg-hover: #cda6ea; 
    */

    /* Scroll */
    --scroll-width:                 8px;
    --scroll-height:                8px;
    --scroll-bg:                    var(--dark-a-4);
    --scroll-bg-border-radius:      6px;
    --scroll-fg:                    var(--highlight-bg-softer);
    --scroll-fg-hover:              var(--highlight-bg-hover);
    --scroll-fg-border-radius:      6px;
    --scroll-corner:                var(--dark-a-1);

    /* Home */
    --home-title-1:                 var(--white-1);
    --home-title-2:                 #866ee7;
    --home-description:             var(--white-2);
    --home-button-text:             var(--white-1);

    --highlight-text:               #130606;
    --highlight-hover-text:         #0c0b0b;

    /* Logo */
    --logo-font:                    "Arial", serif;
    --logo-border:                  rgba(225, 225, 225, .1);

    /* Projects */
    --projects-details-close:       var(--white-2);
    --projects-details-open:        var(--white-1);
    
    /* Study */
    --study-cards-bg:               rgba(0, 0, 0, 0.20);
    --study-cards-padding:          24px;

    /* Study Sidebar */
    --study-sidebar-bg:             var(--dark-a-1);
    --study-sidebar-bg-hover:       var(--dark-a-2);
    --study-sidebar-text:           var(--white-2);
    --study-sidebar-text-hover:     var(--white-1);
    --study-sidebar-border:         var(--dark-1);
    --study-sidebar-border-details: var(--white-1);
    --study-sidebar-h2-hover:       var(--white-1);
    --study-sidebar-h3:             var(--white-a-1);
    --study-sidebar-h3-hover:       var(--white-2);

    /* Study Central */
    --central-bg:                   var(--dark-a-1);
    --study-overflow-border:        rgba(171, 171, 191, 0.18);

    /* Central Header Buttons */
    --header-button-bg:             var(--dark-a-4);
    --header-button-border:         var(--dark-1);
    --header-button-text:           var(--white-1);
    --header-button-hover-bg:       var(--dark-a-2);
    --header-button-hover-text:     var(--white-1);

    /* Central Footer */
    --footer-text:                  var(--white-1);

    /* Note */
    --note-headers:                 var(--white-1);
    --note-title:                   var(--white-1);
    --note-text:                    var(--white-1);

    /* _Note Subtitle */
    --note-subtitle:                rgba(171, 171, 191, 0.8);

    /* Checkbox */
    --checkbox-border:              #555;

    /* Table */
    --table-border:                 var(--white-1);
    --table-scrollbar:              #f1f1f1;

    /* Hyperlink */
    --hyperlink:                    #7ad0ec;
    --hyperlink-hover:              #6cbcd6;

    /* Line Emphasis */
    --line-emphasis:                rgba(0, 128, 0, 0.258);

    /* Strike-through */
    --strikethrough:                red;
    --table-strikethrough:          #8c8c8c;

    /* Code */
    --code-font:                    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* Code Inline */
    --code-inline-bg:               #22262e;
    --code-inline-text:             #bad3ac;

    /* Code Block */
    --code-bg:                      #22262e;
    --code-text:                    var(--white-1);
    --code-comment:                 #9893a5;
    --code-tag:                     #b4637a;
    --code-variable:                #d7827e;
    --code-builtin:                 #ea9d34;
    --code-selector:                #56949f;
    --code-title:                   #56949f;
    --code-keyword:                 #907aa9;
    --code-string:                  #286983;
    --code-function-names:          #d7827e;
    --code-punctuation:             #575279;

    /* Block Quote */
    --blockquote-backgound:         #954ce3;
    --blockquote-foreground:        rgba(0, 0, 0, .08);
    --blockquote-color:             #ffffff;
    --blockquote-anchor:            #d2aefc;
    --blockquote-anchor-text-shadow: .4px 0 .8px black;
}


/* SCROLL */
    html {
        scroll-behavior: smooth;
        scroll-padding:  2em;
        -webkit-overflow-scrolling: touch; 
    }

    ::-webkit-scrollbar
    {
        width:  var(--scroll-width);
        height: var(--scroll-height);
    }

    /* Track (Background) */
    ::-webkit-scrollbar-track
    {
        background:    var(--scroll-bg);
        border-radius: var(--scroll-bg-border-radius);
    }

    /* Thumb (Foreground) */
    ::-webkit-scrollbar-thumb
    {
        background:    var(--scroll-fg);
        border-radius: var(--scroll-fg-border-radius);
    }
    ::-webkit-scrollbar-thumb:hover
    {
        background: var(--scroll-fg-hover);
    }

    /* Corner */
    ::-webkit-scrollbar-corner
    {
        background: var(--scroll-corner);
    }

    /* Firefox support */
    /* @supports (-moz-appearance: none) { */
        * {
            scrollbar-width: thin;
            scrollbar-color: var(--scroll-fg) var(--scroll-bg);
        }
    /* } */
/* ROOT */
    body {
        display: flex;
       
        font-family: var(--body-font);
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background-image: url("/assets/bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


/* LEFT SIDEBAR */
    #left-sidebar-wrapper {
        display: flex;
        
        height: 100dvh;

        background: var(--central-bg);
    }

    @media (orientation: portrait) {
        #left-sidebar-wrapper {
            display: none;
        }
    }

    #left-sidebar {
        display: flex;
        flex-direction: column;

        width: 20dvw;

        padding: 32px 12px 32px;
        margin: var(--study-cards-padding) var(--study-cards-padding) 33px;
        
        background: var(--study-cards-bg);
        border-radius: 12px;
        border: 1px solid var(--dark-1);
        
        overflow-y: auto;
    }

    /* Logo */
    #left-sidebar > header {
        display: flex;
        padding: 0 0 32px;
        gap: 15px;
        justify-content: center;
        overflow-wrap: anywhere;
    }

    .site-logo {
        /* width: 480px; */

        color: transparent;
        background: linear-gradient(45deg, #ea60da, #ed8f57, #fbd41d);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: .5px var(--logo-border);

        text-transform: uppercase;
        font-family: var(--logo-font);
        font-size: 1.4em;
        letter-spacing: 3px;
        font-weight: 800;
        
        background-clip: text;
        -webkit-background-clip: text;

        text-align: center;
        align-content: center;
    }

    .breadcrums-division {
        color: transparent;
        background: linear-gradient(45deg, #ea60da, #ed8f57, #fbd41d);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: .5px var(--logo-border);

        text-transform: uppercase;
        font-family: var(--logo-font);
        font-size: 1.15em;
        letter-spacing: 3px;
        font-weight: 800;
        
        background-clip: text;
        -webkit-background-clip: text;

        text-align: center;
        align-content: center;
    }

    .breadcrumbs-studies {
        /* width: 480px; */

        color: transparent;
        background: linear-gradient(45deg, #ea60da, #ed8f57, #fbd41d);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: .5px var(--logo-border);

        text-transform: uppercase;
        font-family: var(--logo-font);
        font-size: 1.15em;
        letter-spacing: 3px;
        font-weight: 800;
        
        background-clip: text;
        -webkit-background-clip: text;

        text-align: center;
        align-content: center;
    }

    /* LEFT SIDEBAR NAV */
    #left-sidebar nav {
        flex: 1;

        padding: 0 24px 0 0;
        margin: 0 16px 0 24px;

        overflow-y: auto;

        border-top-color: var(--study-overflow-border);
        border-top-width: 1px;
        border-top-style: solid;
        border-top-right-radius: 8px;
        border-top-left-radius: 2px;

        border-bottom-color: var(--study-overflow-border);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 2px;
    }

    #left-sidebar > nav > details {
        padding-bottom: 0;
    }
    #left-sidebar > nav > details[open] {
        padding-bottom: calc(16px * 1.5);
    }
    #left-sidebar > nav > details > summary {
        display: flex;
        padding: 16px 0;

        color: var(--note-title);

        font-weight: bold;
        cursor: cell;
        user-select: none;
    }

    #left-sidebar > nav > details > summary:hover {
        background: var(--study-sidebar-bg-hover);
        color: var(--note-title);
    }

    #left-sidebar > nav > details[open] > summary {
        color: var(--note-title);
    }



    #left-sidebar > nav > details > ul > li {
        border-left: 1px solid var(--study-sidebar-border-details);

        margin: 0 8px;
    }

    #left-sidebar > nav > details > ul > li > a {
        color: var(--study-sidebar-text);

        display: flex;
        cursor: pointer;
        padding: 8px;
    }

    #left-sidebar > nav > details > ul > li > a:hover:not(.active) {
        background: var(--study-sidebar-bg-hover);
        color:      var(--study-sidebar-text-hover);
        
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    /* TIER 1 */
    #left-sidebar > nav > details > ul > li > a::before {
        background: var(--study-sidebar-bg);
        border: 1px solid var(--study-sidebar-border-details);

        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        
        position: relative;
        left: calc((16px * -.78));
        top: 3px;
        transform: rotate(45deg);
    }
    #left-sidebar > nav > details > ul > li > a.active {
        background: var(--highlight-bg-softer);
        color: var(--highlight-text);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #left-sidebar > nav > details > ul > li > a.active::before {
        background: var(--highlight-bg-softer);
        border: var(--highlight-bg-softer);

        left: calc((16px * -.76));
    }

    /* TIER 2 */
    #left-sidebar > nav > details > ul > li > ul > li > a {
        display: block;
        padding: 8px;
        cursor: pointer;
        color: var(--study-sidebar-h3);
    }

    #left-sidebar > nav > details > ul > li > ul > li > a:hover:not(.active) {
        background: var(--study-sidebar-bg-hover);
        color: var(--study-sidebar-h2-hover);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #left-sidebar > nav > details > ul > li > ul > li > a::before {
        background: var(--study-sidebar-bg);
        border: 1px solid var(--study-sidebar-border-details);
        content: '';
        display: inline-block;
        position: relative;
        left: -14px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
    }
    /* TIER 2: Active */
    #left-sidebar > nav > details > ul > li > ul > li > a.active {
        background: var(--highlight-bg-softer);

        color: var(--highlight-text);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #left-sidebar > nav > details > ul > li > ul > li > a.active::before {
        background: var(--study-sidebar-bg);
    }
    #left-sidebar > nav > details > ul > li > ul > li > a:hover:not(.active) {
        background: var(--study-sidebar-bg-hover);
        color: var(--study-sidebar-h3-hover);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    /* TIER 3 */
    #left-sidebar > nav > details > ul > li > ul > li > ul > li > a {
        display: block;
        padding: 8px;
        cursor: pointer;
        color: var(--study-sidebar-h3);
    }

    #left-sidebar > nav > details > ul > li > ul > li > ul > li > a:hover:not(.active) {
        background: var(--study-sidebar-bg-hover);
        color: var(--study-sidebar-h2-hover);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #left-sidebar > nav > details > ul > li > ul > li > ul > li > a::before {
        background: var(--study-sidebar-bg);
        border: 1px solid var(--study-sidebar-border-details);
        content: '';
        display: inline-block;
        position: relative;
        left: -14px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
    }

    /* TIER 3: Active */
    #left-sidebar > nav > details > ul > li > ul > li > ul > li > a.active {
        background: var(--highlight-bg-softer);

        color: var(--highlight-text);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #left-sidebar > nav > details > ul > li > ul > li > ul > li > a.active::before {
        background: var(--study-sidebar-bg);
    }
    #left-sidebar > nav > details > ul > li > ul > li > ul > li > a:hover:not(.active) {
        background: var(--study-sidebar-bg-hover);
        color: var(--study-sidebar-h3-hover);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    /* ANY TIER */
    #left-sidebar ul ul {
        border-left: 1px solid var(--study-sidebar-border-details);

        margin-left: calc(16px * 1.75);
    }

    /* Strike-through */
    #left-sidebar del, #left-sidebar s {
        /* font-weight: lighter; */
        /* color: red; */
        
        text-decoration-line: line-through;
        text-decoration-color: var(--table-strikethrough);
        text-decoration-thickness: 2px;
        /* text-decoration-style: dotted; */
    }


/* CENTRAL */
    #central-wrapper {
        flex: max-content;

        height: 100dvh;

        background: var(--central-bg);
    }


/* NOTE WRAPPER */
    #note-wrapper {
        display: flex;
        flex-direction: column;

        height: calc(100dvh - 57px);        

        padding: 36px 38px 36px 42px;
        margin: var(--study-cards-padding) var(--study-cards-padding) 0 0;
        
        background: var(--study-cards-bg);
        border-radius: 12px;
        border: 1px solid var(--dark-1);
    }
    @media (orientation: portrait) {
        #note-wrapper {
            width:  calc(100dvw - 36px);
            height: calc(100dvh - 53px);
            
            padding: 8px 12px 22px;
            margin:  18px 18px 0px;

            font-size: small;
        }
    }


/* NOTE */

    #note-header {
        padding: 0px 0px 28px;
    }

    @media (orientation: portrait) {
        #note-header {
            padding: 0px 0px 16px;
        }
    }

    #note-header > h1 {
        color: var(--note-title);
        font-size: 3em;
    }

    #note-header > p {
        color: var(--note-subtitle);

        font-size: 0.9em;
        padding-top: 8px;
    }


/* CENTRAL HEADER */
    #central-header {
        display: flex;

        position: sticky;
        top: 0;
        height: 5px;
    }

/* CENTRAL FOOTER */
    #central-footer {
        color: var(--footer-text);
        display: flex;
        
        padding: 8px 56px 6px;
        gap: 8px;
        justify-content: end;

        font-size: smaller;
    }

    @media (orientation: portrait) {
        #central-footer {
            justify-content: center;
            font-size: x-small;
            padding: 10px 0px;
        }
    }
    
    #central-footer > a {
        background: var(--highlight-bg);
        color: var(--highlight-text);

        border-radius: 4px;
        cursor: pointer;
        padding: 0 8px;
    }


/* NOTE CONTENT */

#note-content {
    flex: 1;
    
    padding: 16px 0px;
    
    overflow-y: scroll;

    color: var(--note-text);

    border-top-color: var(--study-overflow-border);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-right-radius: 8px;
    border-top-left-radius: 2px;

    border-bottom-color: var(--study-overflow-border);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 2px;
}

@media (orientation: portrait) {    
    #note-content {
        padding: 8px 16px;
    }
}

/* HEADERS */

#note-content h1,
#note-content h2,
#note-content h3,
#note-content h4,
#note-content h5,
#note-content h6 {
    line-height: 1em;
}

#note-content h1 {
    font-size: 3.1em;
    font-weight: 400;
}

#note-content h2 {
    font-size: 1.65em;
    font-weight: bold;
    color: #3d7fe0;
    margin: 3.0em 0em 0.5em;
}

#note-content h3 {
    font-size: 1.4em;
    font-weight: bold;
    color: #eecf1d;
    margin: 2.0em 0em 0.5em;
}

#note-content h4 {
    font-size: 1.20em;
    font-weight: bold;
    color: #ff8513;
    margin: 2.0em 0em 0.5em;
}
#note-content h5 {
    font-size: 1.05em;
    font-weight: bold;
    color: #f04545;
    margin: 1.5em 0em 0.3em;
}
#note-content h6 {
    font-size: 1.0em;
    font-weight: bold;
    color: #ff82b2;
    margin: 1.5em 0em 0.3em;
}

/* 
Only the first h2 OR the first h3 in the div will have; it's the first between both.
Only whichever comes first among all children of the div—and only if it is an <h2> or <h3>—will get the style. Later <h2> or <h3> elements are ignored.
*/
#note-content h2:first-child, 
#note-content h3:first-child {
    margin-top: .6em
}


#note-content .highlight,
#note-content blockquote,
#note-content dl,
#note-content ol,
#note-content p,
#note-content table,
#note-content ul {
    line-height: 1.8rem;
    letter-spacing: -.1px;
}


/* HYPERLINK */

#note-content a {
    color: var(--hyperlink);
    text-decoration: none
}

#note-content a:hover {
    color: var(--hyperlink-hover);
    text-decoration: underline
}

#note-content .internal-link {
    font-weight: 800;
}


/* STRONG */

#note-content strong, 
#note-content b, 
#note-content table th {
  font-weight: 600
}


/* EMPHASIS */

#note-content em {
    font-style: italic
}

#note-content .line-emphasis {
   font-style: normal;
   background-color: var(--line-emphasis);
   border-radius: 4px;
   margin-left: -4px;
   padding-left: 4px;
}


/* STRIKE-THROUGH */

#note-content del, 
#note-content s {
    text-decoration-line: line-through;
    text-decoration-color: var(--strikethrough);
    text-decoration-thickness: 2px;
}


/* LISTS */

#note-content dl,
#note-content ol,
#note-content ul {
  margin-left: 20px
}

#note-content dl dl,
#note-content dl ol,
#note-content dl ul,
#note-content ol dl,
#note-content ol ol,
#note-content ol ul,
#note-content ul dl,
#note-content ul ol,
#note-content ul ul {
  margin-top: 0;
  margin-bottom: 0
}


/* Numbered List */
/* 
Even if I use this 3 at the same time, the counter doesn't reset.
<div class="ordered-list-wrapper"> 
    <ol start="1"> 
        <li value="1">
Apparently I'll have to create a counter with counter-reset and counter-increment, 
and use its value to change the content of the marker, something like that.
For now, I'll use a different symbol and remove these previous attempts.
*/

#note-content li {
    position: relative;
}

#note-content li > ol {
    list-style: square;
}

#note-content ol {
    list-style: square;
}

#note-content li p {
    margin: 0
}

#note-content li .highlight,
#note-content li blockquote,
/* #note-content li iframe, */
#note-content li table {
  margin: 1em 0
}


#note-content li::before {
    content: "•";

    position: absolute;
    left: -0.7em;
    top: -0.1em;
    
    font-size: x-large;
    font-weight: bold;
}

#note-content li li::before {
    content: "◦";  /* Unicode 25E6 */
    top: -0.025em;
    left: -0.6em;
}


/* INPUT (Checkbox) */

input {
    width: 16px;
    height: 16px;
    border: 2px solid var(--checkbox-border);
    border-radius: 3px;
    position: relative;
}

input[type="checkbox"] {
  appearance: checkbox;
  -webkit-appearance: checkbox; /* Safari */
}


/* DL */

#note-content dl {
    list-style: square
}


#note-content hr:before {
    color: var(--white-a-1);

    display: block;
    text-align: center;
    content: "∙ ∙ ∙";
    letter-spacing: .6em;
    top: calc(16px/3.7);
    margin: 2.6em 0 1em;
}


/* P TABLE */

#note-content .table {    
    height: auto;
    max-width: 100dvh;

    padding: 0px 2px;

    overflow: clip;
    white-space: nowrap;
    
    font-family: var(--code-font);
    
    border: 1px solid #ccc;

    cursor: grab; /* hint that it can be dragged */
    user-select: none;
}


#note-content .table:active {
    cursor: grabbing;
}


/* So the table is correctly aligned even if has code */
#note-content .table code {
    font-size: 1.0em;
}



/* TABLE */

#note-content table {
    box-shadow: 0 0 0 1px var(--table-border);

    max-width: 100%;
    border-radius: 4px;
}

#note-content table thead th:first-child{
    border-top-left-radius: 4px;
}
#note-content table thead th:last-child{
    border-top-right-radius: 4px;
}

#note-content table tbody tr:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#note-content table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 4px;
}
#note-content table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 4px;
}

#note-content table td,
#note-content table th {
  padding: 5px 15px
}

#note-content table tr:nth-child(2n) {
    background: var(--background)
}

#note-content table thead tr {
    background: var(--background-embed)
}


/* BLOCK QUOTE */

#note-content blockquote p {
  margin: 1em 0
}

#note-content blockquote dl,
#note-content blockquote ol,
#note-content blockquote ul {
  margin: 0 1em 1em 1em
}

#note-content blockquote {
    padding: 8px 12px;
    position: relative;
    background: var(--code-bg);
    border-left-width: 5px;
    border-radius: 6px;
}

#note-content blockquote footer {
  margin: 1em 0;
  font-style: italic
}

#note-content blockquote footer cite:before {
  content: "—";
  padding: 0 .3em
}

#note-content blockquote footer cite a {
    color: var(--table-border);
}

#note-content blockquote code {
    background: var(--code-bg);
}

#note-content blockquote.info code {
    background: var(--blockquote-foreground);
}

#note-content blockquote.info {
    border: none;
    background: var(--blockquote-backgound);
    color: var(--blockquote-color);
}

#note-content blockquote.info > p {
    display: flex;
    gap: 8px;
}

#note-content blockquote.info > p:first-child > strong:first-child {
    font-size: 2.5em;
}

#note-content blockquote.info li {
    margin: 0 8px;
}

#note-content blockquote.info a {
    color: var(--blockquote-anchor);
    text-shadow: var(--blockquote-anchor-text-shadow);
}


/* IMAGE, VIDEO */

#note-content img,
#note-content video {
    max-width: 100%;
    border-radius: 4px
}


/* EXCALIDRAW IFRAME */

.excalidraw {
    /* flex: 1;  */
    width: 100%;
    height: 600px;
    border: none;
    display: block;
}
/*!
    ORIGINAL THEME: Rose Pine
    The idea is:
        I should replace this colors by variables declared inside the theme.css file.
        When changing the color preference to light <-> dark, all is handled through the theme.css
*/

/* CODE BLOCK */

pre {
    display: flex;

    margin-top: 1em;
    margin-bottom: 1em;

    font-family: var(--code-font);
    font-size: .9em;
    line-height: 1.8;
    letter-spacing: -.1px;

    border-radius: 8px;
}

pre code {
    display: block;
    overflow-x: auto;

    padding: 1em;

    background: var(--code-bg);
    color: var(--code-text);

    white-space: pre;

    border-radius: 8px;
}


/* INLINE CODE */

code {
    background: var(--code-inline-bg);
    color: var(--code-inline-text);

    font-family: var(--code-font);
    font-size: .9em;

    padding: calc(16px/3.7);

    border-radius: 4px;
}


/*  Comment */
.hljs-meta,
.hljs-comment {
    color: var(--code-comment);
}

/* This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-deletion {
    color: var(--code-tag);
}

/* Number and Boolean constants, Language support constants */
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
    color: var(--code-variable);
}

/* Function parameters, Regex character sets, Terminal Yellow */
.hljs-built_in,
.hljs-attribute {
    color: var(--code-builtin);
}

/* Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {
    color: var(--code-title);
}

/* Object literal keys, Markdown links, Terminal Green */
.hljs-selector-tag {
    color: var(--code-selector);
}

/* Strings, CSS class names */
.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: var(--code-string);
}

/* Function names, CSS property names, Terminal Blue */
.hljs-code,
.hljs-formula,
.hljs-section {
    color: var(--code-function-names);
}

/* Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
.hljs-name,
.hljs-keyword,
.hljs-operator,
.hljs-char.escape_,
.hljs-attr {
    color: var(--code-keyword);
}
.hljs-punctuation {
    color: var(--code-punctuation)
}

.hljs-emphasis {
    font-style: italic
}
.hljs-strong {
    font-weight: bold
}
