.portfolio__cursoCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 0 0 2em;
    border-radius: 1em;
    margin: 0.5em 0 0.25em 0;
    padding: 0.5em 1em;
    background-color: var(--light-bg-font-color);
    transition: box-shadow 0.3s, transform 0.3s ease;
}

.portfolio__cursoCard:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.portfolio__cursoCard h3 {
    font-size: 1.25em;
    text-align: left;
    font-family: var(--standard-font-family);
    font-weight: 500;
    color: var(--dark-bg-font-color);
}

.portfolio__cursoCard h4 {
    font-size: 1em;
    text-align: left;
    font-family: var(--standard-font-family);
    font-weight: 700;
    color: var(--dark-bg-font-color);
}

.portfolio__cursoCard p {
    font-size: 1em;
    text-align: left;
    font-family: var(--standard-font-family);
    font-weight: 300;
    color: var(--dark-bg-font-color);
}
