@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 5em;
}

:root {
  --navbar-bg: #13161e;
  --header-gradient-bg-dark: #141a22;
  --dark-bg-font-color: #f3f3f3;
  --section-light-bg: #F0E7D1;
  --light-bg-font-color: #141A22;
  --other-projects-bg: #DFD6C1;

  --standard-font-family: 'Montserrat', sans-serif;
  --section-title-font-family: 'Merriweather', serif;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    color: unset;
    text-decoration: none;
}
